.clearfix::before,
.clearfix::after {
    position: relative;
    display: table;
    content: '';
}

.clearfix::after {
    clear: both;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.p-0 {
    padding: 0 !important;
}

.p-0-10 {
    padding: 0 10px;
}

.m-0-10 {
    margin: 0 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mr-10 {
    margin-right: 10px;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
