.app {
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  height: 100%;
}

.app-content {
  padding-top: 56px;
}

.content {
  margin: 20px 20px 20px 220px;
}

.content-container {
  min-height: calc(100vh - 138px);
  padding: 20px;
  margin-top: 20px;
  background: #ffffff;
}
